// Place all the styles related to the api/channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

.channel-nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 240px;
	background-color: $darker-grey;

	.logout-button {
		display: flex;
		align-items: center;
		height: 70px;
		background-color: $darker-grey;
		padding: 5px;
		transition: 0.3s;
		&:hover {
			background-color: $almost-black;
		}
		p {
			color: $light-grey;
			margin-left: 5px;
		}
	}
}
