@import 'variables';

.server-index-container {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	padding: 0 44px;
	z-index: 0;
	.server-index-header {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		// z-index: -2;

		.server-index-header-text {
			z-index: 1;
			font-size: 28px;
			font-weight: bold;
			color: $white;
			margin-top: 100px;
			text-shadow: 50px 50px 50px $almost-black;
		}

		.server-index-background {
			// display: none;
			background: $dark-grey;
			background-image: image_url('server_index_background.jpg');
			box-shadow: 0 0 20px 20px $dark-grey inset;
			opacity: 0.5;
			// position: absolute;
			// top: 0;
			// left: 72px;
			// z-index: -1;
			margin: -130px 0 -40px;
			height: 300px;
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: top;
		}
	}
	.server-index-group-header {
		font-weight: bold;
		margin: 48px 0 16px;
		line-height: 1.2;
		color: $white;
		align-self: flex-start;
	}

	.server-index-list {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		// justify-content: center;
	}
}
