// Place all the styles related to the api/servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

.server-container {
	display: flex;
	width: 100%;
	height: 100%;
	background-color: $dark-grey;

	.server-nav {
		width: 72px;
		height: 100%;
		background-color: $almost-black;
		display: flex;
		flex-direction: column;
		align-items: center;

		.server-nav-list {
			display: flex;
			flex-direction: column;
			align-items: center;
			.server-nav-separator {
				width: 32px;
				height: 2px;
				margin-top: 8px;
				background-color: $dark-grey;
			}
			.server-nav-li {
				height: 56px;
				width: 48px;

				.server-nav-li-link {
					width: 48px;
					height: 48px;
					border-radius: 50%;
					background-color: $dark-grey;
					transition: 0.3s;
					overflow: hidden;

					.server-icon {
						width: inherit;
						height: inherit;
						margin-top: 8px;
						border-radius: inherit;
						background-color: inherit;
						transition: inherit;

						&:hover {
							border-radius: 15px;
							background-color: $purple;
						}
					}
				}

				.server-nav-li-link-name {
					position: relative;
					white-space: nowrap;
					left: 60px;
					top: -32px;
					background-color: black;
					color: $light-grey;
					padding: 5px;
					opacity: 0;
				}

				.active {
					border-radius: 15px;
					background-color: $purple;
				}
			}
		}
	}
}
