@import 'variables';

.server-join-button {
	background: $green;
	height: 80px;
	width: 160px;
	transition: 0.3s;
	&:hover {
		background-color: green;
		.server-join-icon {
			border-radius: 15px;
		}
	}
	.server-join-icon {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		transition: 0.3s;
	}
}
// .logout-buton {
// 	background: $almost-black;
// 	height: 80;
// }
